.room {
  height: 5;
  background-color: teal;
  padding: 1px;
}

.room h1 {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .room h1 {
    margin: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
}
